#java
*.class
#c++
*.exe
*.yml
*.properties


# Project dependencies
.cache
node_modules
yarn-error.log
out
#package-lock.json


# Build directory
/public

.vscode/


# Node
npm-debug.log

# Mac
.DS_Store

# Windows
Thumbs.db

# WebStorm
.idea
.idea/

.fastRequest
/.fastRequest
.fastRequest/
.fastRequest/config

# vi
*~

# General
log/
*.log


*.class

# Package Files #
*.war
*.ear

# IDEA config files
.idea/
