#java
*.class
#c++
*.exe



# Project dependencies
.cache
node_modules
yarn-error.log
out
#package-lock.json


# Build directory
/public

.vscode/


# Node
npm-debug.log

# Mac
.DS_Store

# Windows
Thumbs.db

# WebStorm
.idea/
idea

# vi
*~

# General
log/
*.log
