[user]
	email = imakhlaqXD@gmail.com
	name = imakhlaq
[safe]
	

	[alias]
    p = "!f() { git add -A && git commit -m \"$@\" && git push; }; f"
[core]
	excludesFile = C:\\Users\\Administrator\\.gitignore
	autocrlf = false
